.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.numberContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: hsl(213, 18%, 22%);
  border-radius: 50%;
  width: 2.8rem;
  height: 2.8rem;
  font-size: 1rem;
  cursor: pointer;
  color: hsl(217, 12%, 63%);
  margin-bottom: 2rem;
}
.numberContainer:hover {
  color: var(--hover-color) !important;
  background-color: var(--hover-background-color) !important;
}
