.container {
  background-color: hsl(213, 20%, 18%);
  background: linear-gradient(hsl(214, 20%, 16%), hsl(205, 17%, 14%));
  width: 21rem;
  margin: auto auto;
  height: fit-content;
  border-radius: 20px;
  padding: 2rem;
}
